{% extends 'base.html' %}
{% block script %}
    <script>
        $(function () {
            function delorder(oid) {
                if(confirm('确定要删除吗？'))
            {
                $.get('/cart/delorder/',{'oid':oid},function (data) {
                if(data.isdelete==1)
                {
                    $('#'+oid).remove();
                    location.href='/user/order/'
                }
            })
            }
            }
            $('#delorder1').click(function () {
                if(confirm('确定要删除吗？'))
            {
                var oid = $(this).parent().siblings('.col02').children('span').text();
                $.get('/cart/delorder/',{'oid':oid},function (data) {
                if(data.isdelete==1)
                {
                    $('#'+oid).remove();
                    location.href='/user/order/'
                }
            })
            }
            })

            $('#delorder2').click(function () {
                if(confirm('确定要删除吗？'))
            {
                var oid = $(this).parent().siblings('.col02').children('span').text();
                $.get('/cart/delorder/',{'oid':oid},function (data) {
                if(data.isdelete==1)
                {
                    $('#'+oid).remove();
                    location.href='/user/order/'
                }
            })
            }
            })


        })
    </script>
{% endblock script %}
{% block body %}


	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/">· 个人信息</a></li>
				<li><a href="/user/order" class="active">· 全部订单</a></li>
				<li><a href="/user/site">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
                {% for order in page %}
                    <div id="{{ order.oid }}">
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.odate }}</li>
					<li class="col02">订单号：<span>{{ order.oid }}</span></li>
					<li class="col02 stress" id="ispay">{% if order.oIsPay == True %}已支付{% else %}未支付{% endif %}</li>
                    <li><a href="#" style="color:red;" id="delorder{{ forloop.counter }}">取消订单</a></li>
				</ul>


				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for detail in order.orderdetailinfo_set.all %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/{{ detail.goods.gpic }}"></li>
									<li class="col02">{{ detail.goods.gtitle|truncatechars:10 }}<em>{{ detail.price }}元/{{ detail.goods.gunit }}</em></li>
									<li class="col03">{{ detail.count }}</li>
									<li class="col04">{{ detail.price }}元</li>
								</ul>
                                {% endfor %}

							</td>
							<td width="15%">{{ order.ototal }}元</td>

							{% if order.oIsPay %}
                                <td width="15%">已付款</td>
                                <td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
                            {% else %}
                                <td width="15%">待付款</td>
                                <td width="15%"><a href="#" class="oper_btn">去付款</a></td>
                            {% endif %}
						</tr>
					</tbody>
				</table>
                    </div>
				{% endfor %}
            <div class="pagenation">
                    {% if page.has_previous %}
                        <a href="?page=1">首页</a>
                        <a href="?page={{ page.number|add:-1 }}">上一页</a>
                    {% endif %}
            {% load filters %}
                    {% for pindex in page|page_list %}
                        {% if pindex == page.number %}
                        <a href="#" class="active">{{ pindex }}</a>
                        {% else %}
                        <a href="?page={{ pindex }}">{{ pindex }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page.has_next %}
                        <a href="?page={{ page.number|add:1 }}">下一页</a>
                        <a href="?page={{ page.paginator.num_pages }}">末页</a>
                    {% endif %}
                </div>

                </div>
            </div>
{% endblock body%}


